.dish-panel {
    width: 100%;
}

.card-paragraph {
    font-size: 12px;
}

.meal-title {
    font-size: 32px;
}

.aroma-stars {
    color: red;
}

.appearance-stars {
    color: #f9cf11;
}

.creativity-stars {
    color: darkgreen;
}

.taste-stars {
    color: darkblue;
}

.total-stars {
    color: black;
}

.phone {
    border: none;
}