body {

}
.panel-heading {
    background-color: red;
}

.panel-danger {
    border-color: red;
}

.panel-danger > .panel-heading {
    background-image: none;
    background-color: red;
    color: white;
}

.button-danger {
    background-color: red;
}