body {

}
.panel-heading {
    background-color: #e10000;
}

.panel-info {
    border-color: #e10000;
}

    .panel-info > .panel-heading {
        background-image: none;
        background-color: #303030;
        color: white;
    }

.button-info {
    background-color: #e10000;
  
}

.mymeal-panel {
    text-align: center;
}
.mymeals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

}

