@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
        font-family: 'Josefin Slab', serif;
    }

}

h1 {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 20px;
}

#root {
    padding: 0;
}


